/* Animation */
@import "animation.scss";
/* variables */
:root {
  --primaryColor: #9356dc;
  --secondaire: #ff79da;
  --tertiaire: #99e2d0;
  --bgglobal: #f2f2f2;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
p {
  font-family: "Roboto";
}

li {
  list-style-type: none;
}
a {
  color: #000;
}
/* base styles */
body {
  font-family: "Roboto", serif;
  overflow-x: hidden;
  display: block;
}
.container {
  width: 100%;
}
.button {
  border: none;
  padding: 15px 12px;
  border-radius: 20px;
  font-weight: bolder;
  display: inline-block;
  background-color: #fff;
}

.button:hover {
  color: #222;
  background: var(--primaryColor);
}
h1,
h2,
h3 {
  font-size: 1.2em;
}

ul li {
  line-height: 1.5;
}
.container {
  position: relative;
  overflow: hidden;
    z-index: 1;   
   animation: displayContainer 8s ;
    width: 100%;
    background-color: #F2F2F2;
}

/* mobile styles */
header {
  margin: 0px;
  padding-top: 10px;
  background: #fff;
}
/* --------------- Navbar ---------------- */
.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  text-align: center;
  width: 100%;
  padding: 1rem;
  z-index: 5;
}

.header_page {
  height: 60px;
  text-align: center;
  width: 100%;
  padding: 1rem;
  z-index: 5;
  display:flex;
  a{ 
    i{
    justify-self: start;
    font-size: 25px;
    cursor: pointer; 
    &:hover {
        color: #ff79da;
      }
     }
   }
  img{
    justify-self: center;
    margin-left: 36px;
  }
}

/* ---------------End Navbar ---------------- */

/* ---------------restau_location ---------------- */
.restau_location {
  height: 50px;
  width: 100%;
  background: linear-gradient(180deg, #000, 0.1%, #ebebeb);
  border-top: 1px solid rgb(82, 81, 81);
  .map {
    text-align: center;
    padding: 1rem;

    p .fas {
      margin-right: 10px;
    }
  }
}
/* ---------------End restau_location ---------------- */

/* ---------------hero ---------------- */
.hero {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: var(--bgglobal);

  h1 {
    font-size: 1.5rem;
  }
  .presantation_moto {
    margin-top: 12px;
    color: rgb(105, 102, 102);
    p {
      font-size: 1rem;
    }
  }
  .btn {
    border: none;
    border-radius: 25px;
    font-weight: bolder;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
    display: inline-block;
    margin: 30px auto;
    color: var(--bgglobal);
    background: linear-gradient(to bottom, #ff79da, #9356dc);
    padding: 20px 5px;
    height: 55px;
    width: 216px;
    font-size: 1rem;

    cursor: pointer;
    &:hover {
      background: linear-gradient(to bottom, #ff79da, #be99eb);
      .btn__bg {
        opacity: 1;
      }
    }
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 20px;
      background-color: #f8b8e673;
      opacity: 0;
      z-index: 2;
      transition: opacity 250ms;
    }
  }
}
/* --------------End hero ---------------- */
/* ---------------menus ---------------- */
.secmenus {
  background-color: #fff;
  h2 {
    color: #000;
    margin-left: 17px;
    padding-top: 35px;
    font-size: 1.5rem;
  }

  .menus {
    margin: 0 auto;
    min-height: 300px;
    width: 100%;
    h2 {
      margin-left: 29px;
    }
    .menus_div {
      ul li {
        line-height: 3;
      }
      i {
        line-height: 3;
        margin-right: 20px;
        margin-left: 10px;
        color: rgb(158, 154, 154);
      }
    }
  }
  .button {
    margin: 30px 20px;
    padding: 0px;
    display: flex;
    border-radius: 15px;
    box-shadow: 1px 5px 5px 0px #cccccc;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: rgba(216, 65, 191, 0.068);
      i {
        color: var(--primaryColor);
      }
    }
  }
  .bgCircle {
    height: 20px;
    width: 20px;
    font-size: 10px;
    line-height: 2;
    margin-top: 15px;
    background-color: var(--primaryColor);
    color: #fff;
    text-align: center;
    border-radius: 100%;
    margin-left: -9px;
    margin-right: 10px;
  }
}

/* --------------- End menus ---------------- */
.secRestau {
  margin-top: 20px;
  background: var(--bgglobal);
  h2 {
    margin-left: 20px;
    padding-top: 20px;
    font-size: 1.5rem;
  }
  h3 {
    color: #000;
    margin: 0px;
  }
}
.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .firstContainer {
    width: 100%;
    flex-direction: row;
  }
  .secondContainer {
    width: 100%;
    flex-direction: row;
  }

  .card {
    height: 225px;
    margin-top: 13px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 91%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 6px 8px 9px #d9d9d9;
    img {
      width: 100%;
      height: 150px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      z-index: 2;
      position: relative;
    }
    .btnNouveaux {
      background-color: var(--tertiaire);
      height: 30px;
      padding: 7px 9px;
      color: #112b11d8;
      float: right;
      top: -157px;
      right: 13px;
      z-index: 4;
      position: relative;
      border: none;
      font-size: 14px;
    }
    .descriptions {
      display: flex;
      justify-content: space-between;
      margin-left: 11px;
      width: 75%;
      margin-top: 10px;
      h3 {
        font-size: 1.2rem;
      }
      }
    .description {
      display: flex;
      justify-content: space-between;
      margin-left: 11px;
      margin-top: 10px;
      h3 {
        font-size: 1.2rem;
      }
    }

    .heart2 {
      padding: 2px;
      left: 44px;
      position: relative;
      top: 10px;
      .display-heart {
        z-index: 4;
        position: absolute;
        top: -4px;
        right: -1.5px;
        cursor: pointer;
      }
      .far {
        font-weight: lighter;
        font-size: 27px;
        color: #0009;
      }

      &:hover {
        animation: heart 800ms forwards;
        border-radius: 0 0 156px 152px;
        opacity: 1;
        height: 18.5px;
        width: 24px;
      }
    }

    .heart {
      padding: 2px;
      left: 52px;
      position: relative;
      top: 10px;
      .display-heart {
        z-index: 4;
        color: #000;
        font-weight: 100;
        position: absolute;
        top: -4px;
        right: -1.5px;
        cursor: pointer;
      }
      .far {
        font-weight: lighter;
        font-size: 27px;
        color: #0009;
      }
      &:hover {
        animation: heart 800ms forwards;
        border-radius: 0 0 172px 182px;
        opacity: 1;
        height: 18.5px;
        width: 24px;
      }
    }
    .second_descript {
      color: #585151;
      margin-left: 10px;
      margin-top: 4px;
      font-size: 1.1rem;
    }
    .second_descripts {
      color: #585151;
      margin-left: 10px;
      margin-top: -3px;
      font-size: 1.1rem;
    }
  }
}

/*========Pages Menu=======*/

section {
  height: auto;
  display: flex;
  flex-direction: column;
  background: var(--bgglobal);
}
.image_menu img {
  width: 100%;
  height: 250px;
  background-size: cover;
}
.title_menu {
  display: flex;
  align-items: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: -25px;
  background: var(--bgglobal);
  padding: 20px;
  .heart3{
    margin-left: 25px;
   .fa-heart {
    margin-left: 10%;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    font-weight: 100;
    &:hover {
      animation: heart 800ms forwards;
      border-radius:100px 100px 148px 188px;
      opacity: 1;
      height: 20.5px;
      width: 23px;
      position: relative;
    }
   }
  }
  #note_Enchanter {
    margin-left: 10%;
  }
  #a_La_Francaise {
    margin-left: 29%;
  }
  #LedeliceDesSens {
    margin-left: 13%;
  }
  h1 {
    font-size: 1.5rem;
    font-family: "Shrikhand", cursive;
  }
}
.start {
  margin-top: 25px;
  width: 16%;
  padding-bottom: 5px;
  margin-left: 13px;
  border-bottom: 4px solid rgb(92, 206, 235);
  font-weight: 100;
  h1 {
    font-weight: bolder;
    font-size: 0.9rem;
  }
}
.buttonbtn {
  height: 50px;
  width: 60%;
  text-align: center;
  margin: 50px auto;
  color: #fff;
  border-radius: 30px;
  padding: 10px;
  text-align: center;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  box-shadow: 4px 4px 9px #cccccc;
  line-height: 2;
  cursor: pointer;
  &:hover {
    background: linear-gradient(to bottom, #ff79da, #be99eb);
    .btnbg1 {
      opacity: 1;
    }
  }
}

.center {
  margin: 0 10px;
}
.btn_Entree {
  cursor: pointer;
  &:nth-child(1) {
    animation: fadeIn 1000ms 200ms ease-out backwards;
  }
  &:nth-child(2) {
    animation: fadeIn 1000ms 600ms ease-out backwards;
  }
  &:nth-child(3) {
    animation: fadeIn 1000ms 800ms ease-out backwards;
  }
  &:nth-child(4) {
    animation: fadeIn 1000ms 800ms ease-out backwards;
  }
}
.btn_Plats {
  cursor: pointer;
  &:nth-child(1) {
    animation: fadeIn 1000ms 200ms ease-out backwards;
  }
  &:nth-child(2) {
    animation: fadeIn 1000ms 600ms ease-out backwards;
  }
  &:nth-child(3) {
    animation: fadeIn 1000ms 800ms ease-out backwards;
  }
}
.btn_Dessert {
  cursor: pointer;
  &:nth-child(1) {
    animation: fadeIn 1000ms 200ms ease-out backwards;
  }
  &:nth-child(2) {
    animation: fadeIn 1000ms 600ms ease-out backwards;
  }
  &:nth-child(3) {
    animation: fadeIn 1000ms 800ms ease-out backwards;
  }
}
#platsFirst {
  height: 78px;
  h3 {
    font-size: 0.8rem;
  }
}
#platsSecond {
  height: 78px;
  h3 {
    font-size: 0.8rem;
  }
}

.btn_hover {
  cursor: pointer;
}
.btn_hover::after {
  content: "\f058";
  font-family: "Font Awesome 5 Pro";
  line-height: 1.5;
  padding: 5px;
  color: #fff;
  font-size: 50px;
  height: 71px;
  opacity: 0;
  left: 80%;
  top: 30.2%;
  right: 16px;
  bottom: 0;
  position: absolute;
  background-color: var(--tertiaire);
  border-top-right-radius: 14px;
  border-bottom-right-radius: 11px;
}
.btn_hover:hover {
  transition: all 1s;
  border-radius: 10px;
  box-shadow: 0px 6px 15px #0000ff61;
  padding: 1rem 0 1rem 0;
  .flex_container {
    p {
      font-size: 11px;
    }
  }

  &::after {
    opacity: 1;
    left: 74%;
    transition: all 0.5s;
  }
}
.meal {
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 3px 6.4px 16px #d3d0d3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px;
  padding: 10px 0px 10px 10px;
  height: 60px;
  width: 100%;
  overflow: hidden;
  &:hover .check {
    display: block;
    margin: 0px;
    transition: margin 1s ease-in-out;
    > i {
      position: relative;
      left: 12px;
      top: 14px;
      animation: spin 1s linear;
    }
  }


.meal-text--title  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

     h3 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      }

    h4 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-bottom: 2px;
      font-weight: 100;
    }
  }

  .price {
    color: black;
    margin-right: 53px;
    margin-top: 27px;
    margin-left: 5px;
  }
}

/*======== End Page Menu=======*/

/* =========FOOTER===========*/
footer {
  background-color: rgb(73, 71, 71);
  color: rgb(255, 253, 253);
  padding: 20px;
  font-family: "Roboto", sans-serif;
  h3 {
    color: #fff;
    font-family: "Shrikhand", serif;
    font-size: 1.3rem;
    font-weight: bolder;
    margin-bottom: 10px;
  }
  ul li i {
    margin-right: 5px;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}

/* ======End Footer=========*/
@media (width: 320px) {
  .btn_Entree::after {
    left: 75%;
  }
  .btn_Plats::after {
    left: 75%;
  }
  .btn_Dessert::after {
    left: 75%;
  }
}
@media (width: 375px) {
  .restaurant {
    .card {
      height: 232px;
      .card img {
        height: 160px;
      }
    }
  }
  .title_menu{ 
  .heart3 {
    margin-left: 80px;
     }
    }
  }
  /*.title_menu {
    .fa-heart {
      margin-left: 25%;
      font-size: 25px;
    }
    #note_Enchanter {
      margin-left: 24%;
    }
    #a_La_Francaise {
      margin-left: 41%;
    }
    #LedeliceDesSens {
      margin-left: 28%;
    }
  }
  .btn_Entree::after {
    left: 79%;
  }
  .btn_Plats::after {
    left: 80%;
  }
  .btn_Dessert::after {
    left: 80%;
  }
}*/
@media (width: 425px) {
  .restaurant {
    .card {
      height: 232px;
      .card img {
        height: 170px;
      }
      .heart2 {
        left: 66px;
      }
    }
  }
  .display-heart {
    &:hover {
      width: 26px;
    }
  }
  .title_menu{ 
    .heart3 {
      margin-left: 126px;
       }
      }
    }
  /*.title_menu {
    .fa-heart {
      margin-left: 35%;
      font-size: 25px;
    }
    #note_Enchanter {
      margin-left: 32%;
    }
    #a_La_Francaise {
      margin-left: 47%;
    }
    #LedeliceDesSens {
      margin-left: 35%;
    }
    h1 {
      font-size: 1.5rem;
    }
  }
  .btn_Entree::after {
    left: 82%;
  }
  .btn_Plats::after {
    left: 82%;
  }
  .btn_Dessert::after {
    left: 82%;
  }
}
/* small tablet styles */
@media screen and (min-width: 620px) {
  .page_container{
    background:purple;
  }
  .page_section{
    
    margin:0 120px;
  }
  .header_page{ 
  img {
    -ms-grid-column-align: center;
    justify-self: center;
    margin-left: 20%;
   }
   a{ 
     i {
    margin-left:107px;
    justify-self: start;
    font-size: 25px;
    cursor: pointer;
     }
}
  }
  .start {
    width: 9%;
  }
  .image_menu img {
    height: 300px;
  }
  .menus .button {
    width: 50%;
  }
   .title_menu { 
       margin-top: -58px;
       .heart3 {
        margin-left: 30%;
    }
    .heart4 {
      margin-left: 38%;
      position: relative;
      top: 9px;
      i{
        font-size: 35px;
      }
  }
     /* .fa-heart {
        margin-left: 63%;
        font-size: 35px; 
        position: relative;
       &:hover {
          animation: heart 800ms forwards;
          border-radius:100px 100px 168px 168px;
          opacity: 1;
          height: 30.5px;
          width: 32px;
          top: -1px;
          position: relative;
         
      }
      }*/
     
      #note_Enchanter {
        margin-left: 65%;
      }
      #a_La_Francaise {
        margin-left: 70%;
      }
      #LedeliceDesSens {
        margin-left: 65%;
      }
      h1 {
        font-size: 1.5rem;
      }
      
    } 
    .center {
        margin: 0 100px;
    }
  .restaurant {
    flex-direction: row;

    .img_box {
      height: 350px;
    }
    .img_box img {
      height: 261px;
    }
  }
  .description {
    width: 77%;
    h3 {
      font-size: 1.2rem;
    }
  }
  .secmenus .menus_div {
    margin: 1px 26%;
    width: 73%;
  }
  .btn_Entree::after {
    left: 90%;
  }
  .btn_Plats::after {
    left: 90%;
  }
  .btn_Dessert::after {
    left: 90%;
  }
  .buttonbtn {
    height: 44px;
    width: 300px;
    line-height: 1;
    padding-top: 13px;
    font-size: 20px;
}
  
  footer {
    text-align: center;
  }
}
/* large tablet & laptop styles */
@media screen and (min-width: 960px) {
  .spin {
    top: 25%;
    left: 50%;
  }
  .title_menu h1 {
    font-size: 1.8rem;
  }
  .menus {
    display: flex;
    flex-direction: row;
    .menus_div {
      margin: 1px 26%;
      width: 73%;
      .button {
        width: 79%;
        font-size: 1.5rem;
      }
    }
  }
  .secmenus .bgCircle {
    height: 30px;
    width: 30px;
    font-size: 15px;
    margin-left: -12px;
  }
  .restaurant {
    display: flex;
    flex-direction: row;
    .img_box {
      width: 93%;
    }
  }
  .center {
    margin: 0 auto;
  }
  .image_menu img {
    height: 350px;
  }
  .btn_Entree::after {
    left: 93%;
  }
  .btn_Plats::after {
    left: 93%;
  }
  .btn_Dessert::after {
    left: 93%;
  }
  footer h4 {
    text-align: center;
  }
  .footer {
    text-align: center;
    display: inline;
  }
}
@media screen and (width: 1366px){
  .restaurant {
  .card {
    height: 380px;}
    .card img {
    height: 300px;

}
  }
}

/* desktop styles */
@media screen and (width: 1024px) and(max-width:1900px) {
  .spin {
    top: 25%;
    left: 50%;
  }
  .navbar_page {
    display: flex;
    justify-content: space-around;
    height: 100px;
    .nav-page {
      justify-content: space-around;
            i {
        justify-self: flex-start;
        line-height: 2.5;
        font-size: 36px;
      }img {
        justify-self: center;
      }
    }
  }
  .restau_location {
    height: 70px;
  }
  .restau_location .map p {
    font-size: 1.7rem;
  }
  .hero h1 {
    font-size: 1.9rem;
  }
  .hero .presantation_moto p {
    font-size: 1.5rem;
  }
  .hero .btn {
    width: 322px;
    height: 72px;
    font-size: 1.5rem;
  }
  .secRestau {
    margin-top: 0px;
  }
  .secmenus.menus {
    margin: 0 auto;
    width: 100%;
    height: auto;
    .menus_div {
      margin: 1px 26%;
      width: 73%;
    }
    .button {
      width: 100%;
      cursor: pointer;
      &:hover {
        background-color: rgba(216, 65, 191, 0.068);
        i {
          color: var(--primaryColor);
        }
      }
    }
  }

  .restaurant {
    flex-direction: column;
    display: flex;
    .firstContainer {
      display: flex;
      width: 90%;
      flex-direction: row;
      margin: 0 auto;
    }
    .card {
      height: 325px;
      margin-left: 15px;
      margin-right: 15px;
      width: 100%;
      img {
        height: 256px;
      }
      .btnNouveaux {
      top: -238px;
      margin-right: 13px;
      z-index: 4;
    }
    }

    .secondContainer {
      display: flex;
      width: 90%;
      flex-direction: row;
      margin: 0 auto;
    }
   
  }
  .center {
    margin: 0 15px;
}
  .btn_Entree {
    position: relative;
    width: 98%;
    &::before {
      opacity: 0;
      height: 83px;
      right: 0;
      left: 0;
      margin-right: 100px;
      font-size: 50px;
      width: 50px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 15px;
      padding: 0;
    }
    &:hover {
      &:nth-child(1) {
        &::after {
          left: 85%;
        }
      }
      &:nth-child(2) {
        &::after {
          left: 85%;
        }
      }
      &:nth-child(3) {
        &::after {
          left: 85%;
        }
      }
    }
  }
  .btn_Plats {
    position: relative;
    width: 98%;
    &::before {
      opacity: 0;
      height: 83px;
      right: 0;
      left: 0;
      margin-right: 100px;
      font-size: 50px;
      width: 50px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 15px;
      padding: 0;
    }
    &:hover {
      &:nth-child(1) {
        &::after {
          left: 85%;
        }
      }
      &:nth-child(2) {
        &::after {
          left: 85%;
        }
      }
      &:nth-child(3) {
        &::after {
          left: 85%;
        }
      }
    }
  }
  .btn_Dessert {
    position: relative;
    width: 98%;
    &::before {
      opacity: 0;
      height: 83px;
      right: 0;
      left: 0;
      margin-right: 100px;
      font-size: 50px;
      width: 50px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 15px;
      padding: 0;
    }
    &:hover {
      &:nth-child(1) {
        &::after {
          left: 85%;
        }
      }
      &:nth-child(2) {
        &::after {
          left: 85%;
        }
      }
      &:nth-child(3) {
        &::after {
          left: 85%;
        }
      }
    }
  }
  .menus .menus_div .button {
    width: 81%;
    font-size: 1.5rem;
  }
  #button {
    height: 70px;
    padding: 18px;
    font-size: 1.5rem;
  }

  .image_menu img {
    height: 450px;
  }
  .title_menu .fa-heart {
    margin-left: 65%;
    font-size: 55px;
    h1 {
    font-size: 2.2rem;
  }
}
.meal-text--title {
h3 {
    font-size: 1.5rem;
}
h4 {
  font-size: 1.5rem;
}
}
.meal-text--price {
  font-size: 1.5rem;
}
.start {
  font-size: 2rem;
}
  footer {
    text-align: center;
     h3 {
      margin-bottom:0px;
      font-size: 2rem;
    }
  }
}

@media screen and (width: 1440px) {
  .navbar {
    height: 100px;
    img {
      width: 250px;
      height: 50px;
    }
  }
  .restau_location {
    height: 100px;
    width: 100%;
    .map {
      line-height: 2;
      p {
        font-size: 1.5rem;
      }
    }
  }
  .hero {
    padding-bottom: 40px;
    h1 {
      font-size: 2rem;
    }
    .presantation_moto p {
      font-size: 1.5rem;
    }
    .btn {
      width: 320px;
      font-size: 1.2rem;
    }
  }

  .secmenus {
    .bgCircle {
      height: 40px;
      width: 40px;
      font-size: 20px;
      line-height: 2;
      margin-left: -18px;
    }
     h2 {
      font-size: 2rem;
  }
    .menus .menus_div {
      margin: 7px 35%;
      ul li {
        font-size: 1.5rem;
      }
      .button {
        width: 87%;
        font-size: 1.5rem;
      }
    }
  }
  .secRestau {
     h2 {
      padding-top: 40px;
      font-size:2.2rem;
      padding-bottom: 40px;
    }
    h3 {
      color: #000;
      margin: 0px;
    }
  }
  .restaurant {
    flex-direction: column;
    display: flex;
    padding-bottom: 50px;
    .firstContainer {
      display: flex;
      width: 90%;
      flex-direction: row;
      margin: 0 auto;
    }
    .card {
      height: 400px;
      margin: 20px 15px;
      width: 95%;
      img {
        height: 300px;
      }
      .btnNouveaux {
        height: 41px;
        width: 129px;
        top: -262px;
        right: 50px;
        font-size: 1.5rem;
      }
      .second_descript {
         font-size:2rem;
    }
    .second_descripts {
      font-size: 2rem;
  }
      .description h3{
        font-size: 2rem;
      }
     .descriptions h3 {
        font-size: 2rem;
    }
    .heart2 .far {     
      font-size: 41px;
      }
    }
    .secondContainer {
      display: flex;
      width: 90%;
      flex-direction: row;
      margin: 0 auto;
    }
  }

  .second_descript {
    font-size: 1.3rem;
  }
  .heart {
    font-size: 2.2rem;
  }

  .image_menu img {
    height: 606px;
  }
  .title_menu h1 {
    font-size: 2.2rem;
  }
  .title_menu .fa-heart {
    margin-left: 54%;
  }
  .center {
    margin: 0 20px;
}
  .start {
    font-size: 2rem;
    width: 5%;
  }
  .btn_Entree {
    position: relative;
    width: 98%;
    height: 87px;
    h3 {
      font-size: 24px;
    }
    .flex_container {
      font-size: 1.5rem;
    }
    &::before {
      opacity: 0;
      height: 83px;
      right: 0;
      left: 0;
      margin-right: 100px;
      font-size: 50px;
      width: 50px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 15px;
      padding: 0;
    }
    &:hover {
      h3 {
        font-size: 22px;
      }
      .flex_container {
        width: 450px;
        p {
          font-size: 17px;
        }
      }
      &:nth-child(1) {
        &::after {
          top: -84px;
          left: 90%;
        }
      }
      &:nth-child(2) {
        &::after {
          top: -84px;
          left: 90%;
        }
      }
      &:nth-child(3) {
        &::after {
          top: -84px;
          left: 90%;
        }
      }
    }
  }
  .btn_Plats {
    position: relative;
    width: 98%;
    height: 87px;
    h3 {
      font-size: 24px;
    }
    .flex_container {
      font-size: 1.5rem;
    }

    &::before {
      opacity: 0;
      height: 83px;
      right: 0;
      left: 0;
      margin-right: 100px;
      font-size: 50px;
      width: 50px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 15px;
      padding: 0;
    }
    &:hover {
      h3 {
        font-size: 22px;
      }
      .flex_container {
        width: 450px;
        p {
          font-size: 17px;
        }
      }
      &:nth-child(1) {
        &::after {
          left: 90%;
          height: 77px;
          top: -83px;
        }
      }
      &:nth-child(2) {
        &::after {
          left: 90%;
          height: 77px;
          top: -83px !important;
        }
      }
      &:nth-child(3) {
        &::after {
          left: 90%;
          height: 77px;
          top: -83px !important;
        }
      }
    }
  }
  .btn_Dessert {
    position: relative;
    width: 98%;
    h3 {
      font-size: 24px;
    }
    .flex_container {
      font-size: 1.5rem;
    }
    &::before {
      opacity: 0;
      height: 83px;
      right: 0;
      left: 0;
      margin-right: 100px;
      font-size: 50px;
      width: 50px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 15px;
      padding: 0;
    }
    &:hover {
      &:nth-child(1) {
        &::after {
          left: 92%;
        }
      }
      &:nth-child(2) {
        &::after {
          left: 92%;
        }
      }
      &:nth-child(3) {
        &::after {
          left: 92%;
        }
      }
    }
  }
  #button {
    height: 70px;
    font-size: 2rem;
  }
  footer {
    text-align: center;
    h3 {
      font-size: 2.5rem;
      margin-bottom:2px;
    }
    ul li {
      font-size: 1.9rem;
    }
  }
}

@media screen and (width: 1900px) {
  .navbar {
    height: 100px;
    img {
      width: 250px;
      height: 50px;
    }
  }
  .restau_location {
    height: 100px;
    width: 100%;
    .map {
      line-height: 2;
      p {
        font-size: 1.5rem;
      }
    }
  }
  .hero {
    h1 {
      font-size: 2rem;
    }
    .presantation_moto p {
      font-size: 1.5rem;
    }
    .btn {
      width: 320px;
      font-size: 1.2rem;
    }
  }
  .secmenus {
    .bgCircle {
      height: 40px;
      width: 40px;
      font-size: 20px;
      line-height: 2;
      margin-left: -18px;
    }
    .menus .menus_div {
      margin: 7px 35%;
      ul li {
        font-size: 1.5rem;
      }
      .button {
        width: 71%;
        font-size: 1.5rem;
      }
    }
  }
  .restaurant {
    flex-direction: column;
    display: flex;
    .firstContainer {
      display: flex;
      width: 90%;
      flex-direction: row;
      margin: 0 auto;
    }
    .card {
      height: 460px;
      margin: 20px 15px;
      width: 100%;
      img {
        height: 356px;
      }
      .description h3 {
        font-size: 1.8rem;
      }
      .descriptions h3 {
        font-size: 1.8rem;
      }
      .second_descript {
        font-size: 1.5rem;
      }
      .btnNouveaux {
        top: -300px;
        right: 80px;
        font-size: 24px;
        height: 50px;
        width: 130px;
        padding: 10px;
      }
      .heart .far {
        font-size: 27px;
      }
    }

    .secondContainer {
      display: flex;
      width: 90%;
      flex-direction: row;
      margin: 0 auto;
    }
    .btnNouveaux {
      top: -67px;
      margin-right: 13px;
      z-index: 4;
    }
  }
  .image_menu img {
    height: 606px;
  }
  .title_menu h1 {
    font-size: 2.2rem;
  }
  .title_menu .fa-heart {
    margin-left: 54%;
  }
  .start {
    font-size: 2rem;
    width: 5%;
  }
  .btn_Entree {
    position: relative;
    width: 50%;
    h3 {
      font-size: 24px;
    }
    .flex_container {
      font-size: 1.5rem;
    }
    &::before {
      opacity: 0;
      height: 83px;
      right: 0;
      left: 0;
      margin-right: 100px;
      font-size: 50px;
      width: 50px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 15px;
      padding: 0;
    }
    &:hover {
      &:nth-child(1) {
        &::after {
          left: 92%;
        }
      }
      &:nth-child(2) {
        &::after {
          left: 92%;
        }
      }
      &:nth-child(3) {
        &::after {
          left: 92%;
        }
      }
    }
  }
  .btn_Plats {
    position: relative;
    width: 50%;
    h3 {
      font-size: 24px;
    }
    .flex_container {
      font-size: 1.5rem;
    }
    &::before {
      opacity: 0;
      height: 83px;
      right: 0;
      left: 0;
      margin-right: 100px;
      font-size: 50px;
      width: 50px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 15px;
      padding: 0;
    }
    &:hover {
      &:nth-child(1) {
        &::after {
          left: 92%;
        }
      }
      &:nth-child(2) {
        &::after {
          left: 92%;
        }
      }
      &:nth-child(3) {
        &::after {
          left: 92%;
        }
      }
    }
  }
  .btn_Dessert {
    position: relative;
    width: 50%;
    h3 {
      font-size: 24px;
    }
    .flex_container {
      font-size: 1.5rem;
    }
    &::before {
      opacity: 0;
      height: 83px;
      right: 0;
      left: 0;
      margin-right: 100px;
      font-size: 50px;
      width: 50px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 15px;
      padding: 0;
    }
    &:hover {
      &:nth-child(1) {
        &::after {
          left: 92%;
        }
      }
      &:nth-child(2) {
        &::after {
          left: 92%;
        }
      }
      &:nth-child(3) {
        &::after {
          left: 92%;
        }
      }
    }
  }
  #button {
    height: 70px;
    font-size: 2rem;
  }
  footer {
    text-align: center;
    h3 {
      font-size: 2.5rem;
    }
    ul li {
      font-size: 1.9rem;
    }
  }
}
